<div class="modal fade" id="editUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Kullanıcı Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="firstName">Adı</label>
                    <input name="firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Soyadı</label>
                    <input name="lastName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userName">Kullanıcı Adı</label>
                    <input name="userName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editUser();">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    $editUserModal = $("#editUserModal");
    var selectedUserId;

    $editUserModal.on('show.bs.modal', function (event) {
        //Modal her açıldığında tetiklenir
        showModalLoading("editUserModal");
        $editUserModal.find("input[name='firstName']").val("");
        $editUserModal.find("input[name='firstName']").trigger('focus');

        selectedUserId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
        getUser();
    });

    function getUser() {
        $.ajax({
            url: portalApiEndpoint + '/iam/users/' + selectedUserId,
            type: 'GET',
            complete: function () {
                hideModalLoading("editUserModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                $editUserModal.find("input[name='firstName']").val(response.firstName);
                $editUserModal.find("input[name='lastName']").val(response.lastName);
                $editUserModal.find("input[name='userName']").val(response.userName);
                $editUserModal.find("input[name='email']").val(response.email);
                $editUserModal.find("input[name='password']").val(response.password);
            },
            error: function (xhr, status, err) {
                alert("Hata Oluştu");
            }
        });

    }


    function editUser() {
        showModalLoading("editUserModal");
        $.ajax({
            url: portalApiEndpoint + '/iam/users/' + selectedUserId,
            type: 'PUT',
            complete: function () {
                hideModalLoading("editUserModal");
            },
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                firstName: $editUserModal.find("input[name='firstName']").val(),
                lastName: $editUserModal.find("input[name='lastName']").val(),
                userName: $editUserModal.find("input[name='userName']").val(),
                email: $editUserModal.find("input[name='email']").val(),
                password: $editUserModal.find("input[name='password']").val()
            }),
            success: function (result) {
                $('#editUserModal').modal('hide');
                notify("", "Kullanıcı başarıyla güncellendi", "success");
                getUsers();
            },
            error: function (xhr, status, err) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>