<div class="modal fade" id="editUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row g-3 mb-1">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name">
                            <label data-for="firstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                            <label data-for="lastName">Last Name</label>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="userName" placeholder="User Name">
                            <label data-for="userName">Kullanıcı Adı</label>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <label data-for="email">Email</label>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mb-1">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            <label data-for="password">Password</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editUser();">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $editUserModal = $("#editUserModal");
    var selectedUserId;

    $editUserModal.on('show.bs.modal', function (event) {
        //Modal her açıldığında tetiklenir
        showModalLoading("editUserModal");
        $editUserModal.find("input[name='firstName']").val("");
        $editUserModal.find("input[name='firstName']").trigger('focus');

        selectedUserId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
        getUser();
    });

    function getUser() {
        $.ajax({
            url: portalApiEndpoint + '/iam/users/' + selectedUserId,
            type: 'GET',
            complete: function () {
                hideModalLoading("editUserModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                $editUserModal.find("input[name='firstName']").val(response.firstName);
                $editUserModal.find("input[name='lastName']").val(response.lastName);
                $editUserModal.find("input[name='userName']").val(response.userName);
                $editUserModal.find("input[name='email']").val(response.email);
                $editUserModal.find("input[name='password']").val(response.password);
            },
            error: function (xhr, status, err) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }

    function editUser() {
        showModalLoading("editUserModal");
        $.ajax({
            url: portalApiEndpoint + '/iam/users/' + selectedUserId,
            type: 'PUT',
            complete: function () {
                hideModalLoading("editUserModal");
            },
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                firstName: $editUserModal.find("input[name='firstName']").val(),
                lastName: $editUserModal.find("input[name='lastName']").val(),
                userName: $editUserModal.find("input[name='userName']").val(),
                email: $editUserModal.find("input[name='email']").val(),
                password: $editUserModal.find("input[name='password']").val()
            }),
            success: function (result) {
                $('#editUserModal').modal('hide');
                notify('Success', localize("notify.UserUpdated"), 'success', 10000);
                getUsers();
            },
            error: function (xhr, status, err) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>