<div class="modal fade" id="activatedAuthorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Activated User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="confirmation-message">Bu yazarı aktif etmek istediğinize emin misiniz?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-danger" onclick="activatedAuthor();">Evet Eminim.</button>
            </div>
        </div>
    </div>
</div>
<script>

    $activatedAuthorModal = $("#activatedAuthorModal");
    var selectedAuthorId;

    $activatedAuthorModal.on('shown.bs.modal', function (event) {
        selectedAuthorId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
    });

    function activatedAuthor() {
        showModalLoading("activatedAuthorModal");
        $.ajax({
            url: portalApiEndpoint + '/library-api/authors/' + selectedAuthorId + '/activate',
            type: 'PUT',
            complete: function () {
                hideModalLoading("activatedAuthorModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $('#activatedAuthorModal').modal('hide');
                notify("", "Yazar başarıyla aktif edildi.", "success");
                getAuthors();
            },
            error: function (err, status, xhr) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>